.occupancy-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

flex:1;

display:flex;

flex-direction:column;

align-items:center;

}

.circle{

position:relative;

width:180px;

height:180px;

margin-top:20px;

}

.circle svg{

width:180px;

height:180px;

transform:rotate(-90deg);

}

.circle circle{

fill:none;

stroke:#eee;

stroke-width:12;

stroke-linecap:round;

r:70;

cx:90;

cy:90;

}

.circle circle:last-child{

stroke:#2563eb;

stroke-dasharray:440;

transition:.7s;

}

.circle h1{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

font-size:34px;

}