.payment-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

flex:1;

}

.progress-item{

margin-top:25px;

}

.progress-item p{

margin-bottom:8px;

font-weight:600;

}

.progress{

height:12px;

background:#ececec;

border-radius:10px;

overflow:hidden;

}

.progress div{

height:100%;

background:#16a34a;

border-radius:10px;

transition:.5s;

}

.progress-item span{

display:block;

margin-top:10px;

font-weight:bold;

}