.recent-card{

background:rgb(112, 98, 98);

padding:25px;

border-radius:16px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.recent-card table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

.recent-card th,
.recent-card td{

padding:12px;

border-bottom:1px solid #eee;

text-align:left;

}