/* .stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}

.stat-card{

background:white;

padding:22px;

border-radius:15px;

display:flex;

align-items:center;

gap:18px;

box-shadow:0 8px 18px rgba(0,0,0,.08);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-5px);

}

.icon-box{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

border-radius:15px;

color:white;

font-size:28px;

}

.stat-card h2{

font-size:30px;

margin-bottom:6px;

}

.stat-card p{

color:#666;

font-size:15px;

} */